div.whatsapp(data-animation="chat")
  a.whatsapp__link(
    href="https://wa.me/27845567786" 
    target="_blank" 
    rel="noopener"
  )
    div.whatsapp__wrapper
      -const number = prismic.footer.data.body[0]
      span.whatsapp__text +27 84 556 7786
      svg.whatsapp__icon(
        xmlns="http://www.w3.org/2000/svg" 
        fill="none" 
        viewBox="0 0 24 25" 
        )
        g(clip-path="url(#clip0_867_3699)")
          path(
            fill="#DEC16B" 
            d="M0.510625 12.3558C0.510062 14.3881 1.04106 16.3724 2.05075 18.1214L0.414062 24.0972L6.52956 22.4937C8.22104 23.4145 10.1162 23.897 12.0421 23.8971H12.0471C18.4048 23.8971 23.5801 18.7237 23.5828 12.3649C23.584 9.28366 22.3851 6.38622 20.2069 4.20634C18.0291 2.02666 15.1327 0.825625 12.0467 0.824219C5.68825 0.824219 0.513344 5.99734 0.510719 12.3558"
            )
          path(
            fill="url(#paint0_linear_867_3699)" 
            d="M0.100313 12.3515C0.0996563 14.4568 0.649687 16.5121 1.69537 18.3237L0 24.5138L6.33478 22.8528C8.08022 23.8045 10.0454 24.3062 12.0451 24.307H12.0502C18.636 24.307 23.9972 18.9475 24 12.3611C24.0011 9.16906 22.7591 6.16747 20.5031 3.9095C18.2468 1.65181 15.2468 0.407563 12.0502 0.40625C5.46337 0.40625 0.102938 5.765 0.100313 12.3515ZM3.87291 18.0118L3.63637 17.6363C2.64206 16.0553 2.11725 14.2283 2.118 12.3523C2.12006 6.87772 6.57544 2.42375 12.054 2.42375C14.7071 2.42488 17.2005 3.45913 19.0759 5.33563C20.9512 7.21231 21.9831 9.707 21.9824 12.3603C21.98 17.8348 17.5245 22.2894 12.0502 22.2894H12.0463C10.2638 22.2884 8.51569 21.8097 6.99113 20.9052L6.62831 20.69L2.86912 21.6756L3.87291 18.0118Z"
            )
          path(
            fill="white" 
            d="M9.06187 7.35879C8.83819 6.86163 8.60278 6.8516 8.39006 6.84288C8.21587 6.83538 8.01675 6.83595 7.81781 6.83595C7.61869 6.83595 7.29516 6.91085 7.02169 7.20945C6.74794 7.50832 5.97656 8.23057 5.97656 9.69954C5.97656 11.1685 7.04653 12.5883 7.19569 12.7877C7.34503 12.9867 9.26128 16.0977 12.2962 17.2945C14.8184 18.2891 15.3317 18.0913 15.8791 18.0414C16.4266 17.9917 17.6457 17.3194 17.8944 16.6221C18.1433 15.925 18.1433 15.3274 18.0687 15.2026C17.9941 15.0782 17.795 15.0034 17.4964 14.8542C17.1978 14.7049 15.7297 13.9825 15.4561 13.8829C15.1823 13.7833 14.9833 13.7336 14.7842 14.0326C14.5851 14.3311 14.0133 15.0034 13.839 15.2026C13.6649 15.4022 13.4906 15.427 13.1921 15.2777C12.8933 15.1279 11.9317 14.8129 10.7909 13.7959C9.90328 13.0044 9.30403 12.0271 9.12984 11.7281C8.95566 11.4296 9.11119 11.2678 9.26091 11.119C9.39506 10.9852 9.55959 10.7704 9.70903 10.5961C9.85791 10.4217 9.90759 10.2973 10.0072 10.0982C10.1068 9.89885 10.0569 9.72448 9.98241 9.57513C9.90759 9.42579 9.32737 7.94913 9.06187 7.35879Z"
            )
        defs
          lineargradient(
            gradientUnits="userSpaceOnUse" 
            y2="0.40625" 
            x2="1200" 
            y1="2411.16" 
            x1="1200" 
            id="paint0_linear_867_3699"
            )
            stop(stop-color="#F9F9F9")
            stop(
              stop-color="white" 
              offset="1"
              )
          clippath(id="clip0_867_3699")
            rect(
              transform="translate(0 0.40625)" 
              fill="white" 
              height="24.1875" 
              width="24"
              )
