meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")

base(href="/")

title Pigalle

//- meta(name="description" content=prismic.meta.data.description)

//- link(
//-   sizes="96x96" 
//-   href="/favicon-96x96.png" 
//-   type="image/png" 
//-   rel="icon"
//-   )
//- link(
//-   href="/favicon.svg" 
//-   type="image/svg+xml" 
//-   rel="icon"
//-   )
//- link(
//-   href="/favicon.ico" 
//-   rel="shortcut icon"
//-   )
//- link(
//-   href="/apple-touch-icon.png" 
//-   sizes="180x180" 
//-   rel="apple-touch-icon"
//-   )
//- meta(
//-   content="Rolling Tractors" 
//-   name="apple-mobile-web-app-title"
//-   )
//- link(
//-   href="/site.webmanifest" 
//-   rel="manifest"
//-   )

meta(name="msapplication-TileColor" content="#0C5625")
meta(name="theme-color" content="#0C5625")

//- meta(property="og:type" content="website")
//- meta(property="og:title" content=prismic.meta.data.title)
//- meta(property="og:description" content=prismic.meta.data.description)
//- meta(property="og:image" content=prismic.meta.data.image ? prismic.meta.data.image.url : '')

//- meta(name="twitter:card" content="summary_large_image")
//- meta(name="twitter:title" content=prismic.meta.data.title)
//- meta(name="twitter:description" content=prismic.meta.data.description)
//- meta(name="twitter:image" content=prismic.meta.data.image ? prismic.meta.data.image.url : '')

//- Make Prismic data available to client-side JavaScript
