each slice in prismic.home.data.body
  if slice.slice_type === 'marquee'
    section.section.section--tiny--margin
      .marquee.marquee--images
        .marquee__images
          .marquee__travel
            each item in slice.items
              - const marqueeImage = imgix.imgix(item.image, { auto: 'compress', crop: 'entropy' })
              img.marquee__image(
                src=marqueeImage.src
                srcset=marqueeImage.srcset
                sizes="(max-width: 600px) 200px, 250px"
                alt=marqueeImage.alt
                loading="lazy"
              )


section.section.section--small--margin
  ul.marquee.marquee--text
    div.marquee__wrapper
      - const marqueeText = 'Book Now'
      - const repeatCount = 20
      - for (let i = 0; i < repeatCount; i++)
        li.marquee__item= marqueeText
        if i < repeatCount - 1
          li.marquee__dot •
