nav.navigation(data-animation="navigation")
  //- Performance: This div is for the background color animation. 
  //- We animate its opacity instead of the header's backgroundColor for better performance.
  .navigation__background

  div.navigation__logo
    a(href="/")
      img.navigation__logo__image(data-src="/images/logo.svg", alt="Pigalle by Villamoura logo")

  // Desktop links
  .navigation__links.navigation__links--desktop
    a(href="/menu/") Menu
    a(href="/about/") Our Story
    a(href="/contact/") Contact
    a(href="/book/") Make a booking

  // Mobile toggle icon
  .navigation__icon.navigation__icon--toggle
    svg(
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      width="24"
      height="24"
    )
      path(
        stroke-linejoin="round"
        stroke-linecap="round"
        stroke-width="2"
        stroke="white"
        d="M3 6H21M3 12H21M3 18H21"
      )

  // Mobile links
  .navigation__links.navigation__links--mobile(data-animation="navigation")
    .mobile-header
      div.navigation__logo.navigation__logo--mobile 
        a(href="/")
          img.navigation__logo__image(data-src="/images/logo.svg", alt="Pigalle by Villamoura logo")

    .mobile-links
      div.mobile-links__wrapper
        a.h2(href="/book/") Book a Reservation
      div.mobile-links__wrapper
        a.h2(href="/menu/") Menu
      div.mobile-links__wrapper
        a.h2(href="/about/") Our Story
      div.mobile-links__wrapper
        a.h2(href="/contact/") Contact

    .mobile-socials
      each slice in prismic.footer.data.body
        if slice.slice_type === 'social_media'
          div.navigation__social__media
            h6.navigation__social__media__heading= slice.primary.heading[0].text
            ul.navigation__social
              each item in slice.items
                li.social__item
                  a(href=item.link.url target="_blank" aria-label=item.link.url)
                    //- Facebook
                    if item.link.url.includes('facebook.com')
                    
                      svg.footer__social__icon(
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 13 13"
                        fill="black" 
                      )
                        path(
                          d="M6.09836 0C9.46638 0 12.1967 2.73033 12.1967 6.09836C12.1967 9.21627 9.85674 11.7873 6.83718 12.152V7.96192L8.48691 7.96192L8.82913 6.09836H6.83718V5.43927C6.83718 4.94687 6.93377 4.60598 7.15534 4.38819C7.37693 4.1704 7.72351 4.0757 8.22349 4.0757C8.35003 4.0757 8.46651 4.07696 8.56986 4.07948C8.72018 4.08314 8.84272 4.08946 8.92802 4.09844V2.40909C8.89393 2.39962 8.85368 2.39015 8.8086 2.38083C8.70646 2.35971 8.57948 2.33935 8.44298 2.32147C8.15775 2.28411 7.83095 2.25756 7.60231 2.25756C6.67892 2.25756 5.98107 2.45511 5.49396 2.86429C4.90607 3.35812 4.62514 4.16021 4.62514 5.29535V6.09836H3.36761V7.96192H4.62514V12.0171C1.96891 11.3581 0 8.95836 0 6.09836C0 2.73033 2.73033 0 6.09836 0Z"
                        )
                    //- Instagram
                    else if item.link.url.includes('instagram.com')
                      svg.navigation__social__icon(
                          xmlns="http://www.w3.org/2000/svg" 
                          fill="none" 
                          viewBox="0 0 18 17"
                      
                          )
                          path(
                            fill="black" 
                            d="M13.3766 4.75816C12.8381 4.75921 12.4003 4.3232 12.3992 3.7847C12.3982 3.2462 12.8342 2.80834 13.3729 2.80729C13.9117 2.80624 14.3495 3.24251 14.3506 3.78101C14.3514 4.31951 13.9154 4.75711 13.3766 4.75816Z"
                            )
                          path(
                            fill="black" 
                            d="M9.05103 12.3058C6.74559 12.3103 4.87272 10.4451 4.86825 8.13905C4.86377 5.83357 6.72951 3.96042 9.03497 3.95594C11.3409 3.95146 13.2141 5.81777 13.2185 8.12298C13.223 10.429 11.3567 12.3013 9.05103 12.3058ZM9.03786 5.421C7.54147 5.42364 6.33012 6.63947 6.33276 8.13615C6.33565 9.63309 7.55175 10.8442 9.04814 10.8413C10.5451 10.8384 11.7564 9.62282 11.7535 8.12588C11.7506 6.62893 10.5345 5.41811 9.03786 5.421Z" 
                            clip-rule="evenodd" 
                            fill-rule="evenodd"
                            )
                          path(
                            fill="black" 
                            d="M3.70326 0.438051C4.21963 0.235719 4.81054 0.0971416 5.67571 0.056307C6.543 0.0146853 6.81988 0.00519785 9.02759 0.000984289C11.2358 -0.00322927 11.5127 0.00519622 12.38 0.0436598C13.2454 0.0810696 13.8366 0.217541 14.354 0.417767C14.8893 0.624048 15.3435 0.901732 15.7961 1.3525C16.2488 1.80379 16.5275 2.25641 16.7364 2.79095C16.9385 3.30785 17.077 3.89825 17.1181 4.76395C17.1592 5.63097 17.1692 5.9076 17.1734 8.1156C17.1777 10.3233 17.1687 10.6005 17.1308 11.4683C17.0931 12.3332 16.9569 12.9247 16.7567 13.4418C16.5499 13.9772 16.2727 14.4314 15.8219 14.884C15.3712 15.3369 14.9181 15.6153 14.3835 15.8245C13.8666 16.0263 13.2762 16.1649 12.4111 16.2062C11.5438 16.2473 11.2669 16.2571 9.05841 16.2613C6.85096 16.2655 6.57408 16.2571 5.70681 16.2189C4.84137 16.181 4.24993 16.0448 3.73277 15.8448C3.19745 15.6377 2.74326 15.3608 2.29065 14.9098C1.83778 14.4588 1.5588 14.0059 1.35015 13.4713C1.14782 12.9547 1.00976 12.364 0.968399 11.4991C0.927041 10.6316 0.917296 10.3544 0.913084 8.14669C0.908856 5.93869 0.917555 5.66207 0.955487 4.79477C0.993692 3.92907 1.12937 3.33788 1.3296 2.82019C1.5364 2.28512 1.81355 1.83119 2.26484 1.37832C2.7156 0.925707 3.16873 0.646438 3.70326 0.438051ZM4.26047 14.4788C4.54737 14.5892 4.97784 14.7209 5.77057 14.7554C6.62835 14.7926 6.88521 14.8007 9.05577 14.7965C11.2271 14.7925 11.484 14.7833 12.3415 14.743C13.1335 14.7053 13.5639 14.572 13.85 14.4603C14.2297 14.312 14.5 14.1347 14.784 13.8504C15.068 13.5651 15.2437 13.294 15.3907 12.9144C15.5013 12.6272 15.6328 12.1965 15.6673 11.4038C15.705 10.5465 15.7129 10.2894 15.7087 8.11824C15.7047 5.94764 15.6955 5.69052 15.6547 4.83298C15.6172 4.04077 15.4842 3.61029 15.3722 3.32444C15.2239 2.94428 15.0471 2.67451 14.7621 2.39024C14.477 2.10597 14.206 1.93077 13.8258 1.78377C13.5394 1.67286 13.1084 1.54165 12.3162 1.50715C11.4584 1.46947 11.2013 1.46182 9.03022 1.46605C6.85966 1.47026 6.6028 1.47895 5.74527 1.51953C4.95281 1.55719 4.52286 1.69024 4.23622 1.80221C3.85685 1.95053 3.58656 2.12678 3.3023 2.41211C3.01856 2.69742 2.84284 2.96799 2.69584 3.34841C2.58572 3.63506 2.4532 4.06606 2.41922 4.85827C2.3818 5.71607 2.37391 5.9732 2.37812 8.14379C2.38208 10.3149 2.39129 10.572 2.4316 11.429C2.46875 12.2218 2.60283 12.6517 2.71428 12.9386C2.8626 13.3177 3.03938 13.588 3.32417 13.8723C3.60949 14.1555 3.88057 14.3318 4.26047 14.4788Z" 
                            clip-rule="evenodd" 
                            fill-rule="evenodd"
                            )
                    //- X / Twitter
                    else if item.link.url.includes('x.com') || item.link.url.includes('twitter.com')
                      svg.navigation__social__icon(
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 12 12"
                      
                        )
                        path(
                          fill="black"
                          d="M9.18212 0.964844H10.8965L7.15107 5.24564L11.5573 11.0708H8.10725L5.40507 7.53788L2.31316 11.0708H0.59773L4.60385 6.49204L0.376953 0.964844H3.91457L6.3571 4.19409L9.18212 0.964844ZM8.58042 10.0447H9.53038L3.39838 1.93709H2.37897L8.58042 10.0447Z"
                        )
                    //- LinkedIn
                    else if item.link.url.includes('linkedin.com')
                      svg.navigation__social__icon(
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 13 13"
                        )                                      
                        path(
                          d="M12.0966 0H1.7032C1.20532 0 0.802734 0.393058 0.802734 0.879022V11.3153C0.802734 11.8013 1.20532 12.1967 1.7032 12.1967H12.0966C12.5945 12.1967 12.9995 11.8013 12.9995 11.3177V0.879022C12.9995 0.393058 12.5945 0 12.0966 0ZM4.42125 10.3934H2.6108V4.57139H4.42125V10.3934ZM3.51603 3.77813C2.93478 3.77813 2.46549 3.30884 2.46549 2.72997C2.46549 2.1511 2.93478 1.68181 3.51603 1.68181C4.0949 1.68181 4.56418 2.1511 4.56418 2.72997C4.56418 3.30645 4.0949 3.77813 3.51603 3.77813ZM11.1962 10.3934H9.38808V7.5634C9.38808 6.88924 9.37617 6.01975 8.44712 6.01975C7.50617 6.01975 7.36324 6.75584 7.36324 7.51575V10.3934H5.55755V4.57139H7.29177V5.36703H7.31559C7.55619 4.90966 8.14697 4.42608 9.02599 4.42608C10.8579 4.42608 11.1962 5.63145 11.1962 7.19892V10.3934Z"
                          fill="black"
                        )
