extends ./_includes/layout
include ./_includes/mixins

block variables
  - var template = 'about'

block content
  .story(class=`template-${template}`)
    .story__wrapper
      each slice in prismic.about.data.body
        if slice.slice_type === 'intro_card'
          - if (slice.primary.background_image && slice.primary.background_image.url)
            - const aboutBackgroundImage = imgix.imgix(slice.primary.background_image,{ auto: 'compress', crop: 'entropy' }, [400, 800, 1200, 1600, 2000])
            section.story__intro__wrapper(data-animation="pin")

              //- The image is now a separate element inside the wrapper.
              img.story__intro__image(
                data-src=aboutBackgroundImage.src,
                srcset=aboutBackgroundImage.srcset,
                sizes="100vw",
                alt=slice.primary.background_image.alt || "Pigalle Story Intro"
              )
              .story__intro 
                .story__intro__heading!= prismic.aboutHeadingsHTML[0]
                    
        if slice.slice_type === 'about_history'
          section.container--padding.section--small--padding.story__history
            div.story__history__wrapper
              h2.story__history__heading(data-animation="text")= slice.primary.sub_heading[0].text
              p.story__history__description= slice.primary.description
              a.story__history__button(href='/book/')
                span.button__label= slice.primary.button_label 

        if slice.slice_type === 'image_slider'
          section.container--padding.story__slider
            each item in slice.items
              div.story__slider__item
                - const imgData = imgix.imgix(item.image, { auto: 'compress', crop: 'entropy' }, [400, 600, 800,1200])
                img.story__slider__image(
                  data-animation= "height"
                  data-src=imgData.src
                  srcset=imgData.srcset
                  sizes="(max-width: 768px) 100vw, 33vw"
                  alt=item.alt || "Slider image"
            
                )
            +svg-decorative('tomato')
            +svg-decorative('avocado')

        if slice.slice_type === 'about_quality_'
          section.section--small--padding.story__quality
            div.story__quality__wrapper
              h2.story__quality__heading(data-animation="text")= slice.primary.sub_heading[0].text
              div.story__quality__content 
                //- Halaal
                div.quality__halaal__wrapper
                  img.story__halaal__image(
                    src="/images/halaal.png"
                  )
                  p.story__quality__halaal__description= slice.primary.halaal_description
                //- Team
                div.quality__team__wrapper
                  img.story__team__image(
                    src="/images/chef.png"
                  )
                  p.story__quality__team__description= slice.primary.team_description

                a.story__quality__button(href='/menu/')
                  span.button__label= slice.primary.button_label 
  include ./_includes/chat 
