
extends ./_includes/layout
include ./_includes/mixins

block variables
  - var template = 'home'

block content
  .home(class=`template-${template}`)
    .home__wrapper
      section.hero(data-animation="pin")
        .hero__text!= prismic.homeHeadingsHTML[0]
        video.hero__video(autoplay muted loop playsinline poster="/images/poster_video.jpg")
          source(src="/reels/background_reel.mp4" type="video/mp4")

      each slice in prismic.home.data.body
        if slice.slice_type === 'tagline_card'
          section.tagline__card__wrapper.section--large--padding
            .tagline
              h2(data-animation="text").tagline__heading= slice.primary.tagline[0].text
              a.button(href='/book/')
                span.button__label= slice.primary.button_label

    // About Section
    each slice in prismic.home.data.body
      if slice.slice_type === 'about_card'
        section.about__card__wrapper
          .about__card
            .about__card__left
              .image__wrapper
                - const aboutImage = imgix.imgix(slice.primary.about_image,{ auto:'compress', crop: 'entropy', q:85 }, [400, 665, 1000])
                img.about__card__image(
                  data-src=aboutImage.src
                  srcset=aboutImage.srcset
                  sizes="(max-width: 600px) 650px, (max-width: 1440px) 50vw, 700px"
                  alt=aboutImage.alt
                
                )
              +svg-decorative('mint')
            .about__card__right
              h6.about__card__heading= slice.primary.heading[0].text
              p.h4.about__card__description!= slice.primary.intro_text.replace(/\n/g, '<br>')
              a.button(href='/about/')
                span.button__label= slice.primary.button_label

    // Our Food Section
    each slice in prismic.home.data.body
      if slice.slice_type === 'our_food'
        section.section--medium--padding.food__card__wrapper
          .food
            .food__left
              h6.food__heading= slice.primary.heading[0].text
              p.h4.food__description!= slice.primary.intro_text.replace(/\n/g, '<br>')
              a.button(href='/menu/')
                span.button__label= slice.primary.button_label
            .food__right
              div.carousel
                each item, index in slice.items
                  - const sliderImage = imgix.imgix(item.slider_image, { auto: 'compress', fit: 'crop', crop: 'edges', ar: '665:700' })
                  .carousel__slide
                    .carousel__image__wrapper(data-animation="carousel")
                      img.carousel__image(
                        data-src=sliderImage.src
                        srcset=sliderImage.srcset
                        sizes="(max-width: 600px) 650px, (max-width: 1440px) 50vw, 700px"
                        alt=sliderImage.alt
                        
                      )

              .carousel__controls
                button.carousel__button 
                  span.btn__prev.carousel__button__label prev 
                button.carousel__button 
                  span.btn__next.carousel__button__label next 
                div.carousel__counter 
                  span 1/#{slice.items.length}

              +svg-decorative('rosemary')

    // Private Events Section
    each slice in prismic.home.data.body
      if slice.slice_type === 'private_events_card'
        section.section--small--padding.events__card__wrapper
          - const backgroundImage = imgix.imgix(slice.primary.background_image, { auto: 'compress', crop:'top' }, [400, 600, 800, 1200])

          img(
            data-src=backgroundImage.src
            srcset=backgroundImage.srcset
            sizes="1px" 
            style="display: none;" 
            alt=""
          )

          .events(
            style=`background-image: url('${backgroundImage.src}'); background-size: cover; background-position:center;`
            srcset=backgroundImage.srcset
            data-animation='scale'
          )
            .events__content
              h2.events__heading= slice.primary.heading[0].text
              p.events__description= slice.primary.intro_text
              a.events__button(href='/book/')
                span.button__label.events__button__label= slice.primary.button_label
          +svg-decorative('orange')

    // FAQ Section
    each slice in prismic.home.data.body
      if slice.slice_type === 'faq_card'
        section.faq__section
          .faq
            .faq__container
              h2.faq__heading= slice.primary.heading[0].text
              dl.faq__accordian(data-animation="faq")
                each item in slice.items
                  .faq__item
                    button.faq__question(data-animation="faq")
                      dt.faq__question__text
                        span= item.question
                      svg.faq__icon(
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 22 23"
                        height="23"
                        width="22"
                      )
                        path(
                          fill="black"
                          d="M0.261719 12.4793V10.8271H10.1748V0.914062H11.8269V10.8271H21.74V12.4793H11.8269V22.3923H10.1748V12.4793H0.261719Z"
                        )
                    dd.faq__answer
                      p= item.answer
                    .faq__line
          .icon__wrapper
            +svg-decorative('wheat_plant')
            +svg-decorative('seed_plant')
            
    - var reviewsToShow = (google_reviews || []).filter(r => r.rating === 5).slice(0, 5)
    - if (reviewsToShow.length < 5)
      - reviewsToShow = reviewsToShow.concat([{ text: "Hardcoded review 1", author_name: "John D." },{ text: "Hardcoded review 2", author_name: "Sarah M." },{ text: "Hardcoded review 3", author_name: "Alex R." }, { text: "Hardcoded review 4", author_name: "Lisa K." },{ text: "Hardcoded review 5", author_name: "Michael B." }].slice(0, 5 - reviewsToShow.length))


    section.section--small--padding.reviews(data-animation='reviews_slider')
      .reviews__wrapper
        .reviews__track
          .reviews__quote__wrapper
            span.reviews__quote &ldquo;
          .reviews__slider
            each review in reviewsToShow
              .reviews__slide
                .reviews__item
                  h3.reviews__text= review.text
                  h6.reviews__name - #{review.author_name}

        .reviews__dots(role="tablist" aria-label="Review Navigation")
          each review, index in reviewsToShow
            button.reviews__dot(    
              class=(index === 0 ? '--active' : ''),
              role="tab",
              aria-label="Go to review " + (index + 1),
              aria-current=(index === 0 ? 'true' : 'false')
            )

    include ./_includes/marquee
