
extends ./_includes/layout
include ./_includes/mixins

block variables
  - var template = 'home'

block content
  .home(class=`template-${template}`)
    .home__wrapper
      section.hero(data-animation="pin")
        .hero__text!= prismic.homeHeadingsHTML[0]
        video.hero__video(autoplay muted loop playsinline preload="auto")
          source(src="/reels/background_reel.mp4" type="video/mp4")

      each slice in prismic.home.data.body
        if slice.slice_type === 'tagline_card'
          section.tagline__card__wrapper
            .tagline
              h2.tagline__heading(data-animation="fill")= slice.primary.tagline[0].text
              a.button(href='/book/')
                span.button__label= slice.primary.button_label


    // --- OUTSIDE PIN CONTAINER ---
    // About Section
    each slice in prismic.home.data.body
      if slice.slice_type === 'about_card'
        section.about__card__wrapper
          .about__card
            .about__card__left
              .image__wrapper
                - const aboutImage = imgix.imgix(slice.primary.about_image,{ auto:'compress', crop: 'entropy', q:85 }, [400, 665, 1000])
                img.about__card__image(
                  src=aboutImage.src
                  srcset=aboutImage.srcset
                  sizes="(max-width: 600px) 650px, (max-width: 1440px) 50vw, 700px"
                  alt=aboutImage.alt
                  loading="lazy"
                )
              +svg-decorative('mint')
            .about__card__right
              h6.about__card__heading= slice.primary.heading[0].text
              p.h4.about__card__description!= slice.primary.intro_text.replace(/\n/g, '<br>')
              a.button(href='/about/')
                span.button__label= slice.primary.button_label

    // Our Food Section
    each slice in prismic.home.data.body
      if slice.slice_type === 'our_food'
        section.section.section--small--padding.food__card__wrapper
          .food
            .food__left
              h6.food__heading= slice.primary.heading[0].text
              p.h4.food__description!= slice.primary.intro_text.replace(/\n/g, '<br>')
              a.button(href='/menu/')
                span.button__label= slice.primary.button_label
            .food__right
              .image__wrapper
                each item, index in slice.items
                  - const sliderImage = imgix.imgix(item.slider_image, { auto:'compress', crop:'entropy', q:85 }, [400, 665, 1000])
                  .slider__image(data-animation="carousel")
                    img.food__image(
                      src=sliderImage.src
                      srcset=sliderImage.srcset
                      sizes="(max-width: 600px) 650px, (max-width: 1440px) 50vw, 700px"
                      alt=sliderImage.alt
                      loading="lazy"
                    )

              .food__slider__controls
                button.food__button 
                  span.btn__prev.food__button__label prev 
                button.food__button 
                  span.btn__next.food__button__label next 
                .food__slider__counter 
                  span 1/#{slice.items.length}

              +svg-decorative('rosemary')

    // Private Events Section
    each slice in prismic.home.data.body
      if slice.slice_type === 'private_events_card'
        section.section.section--small--padding.events__card__wrapper(data-animation='scale')
          - const backgroundImage = imgix.imgix(slice.primary.background_image, { auto: 'compress', crop:'top' }, [400, 600, 800, 1200])
          .events(
            style=`background-image: url('${backgroundImage.src}'); background-size: cover; background-position:center;`
            data-srcset=backgroundImage.srcset
          )
            .events__content
              h2.events__heading= slice.primary.heading[0].text
              p.events__description= slice.primary.intro_text
              a.events__button(href='/book/')
                span.button__label.events__button__label= slice.primary.button_label
          +svg-decorative('orange')

    // FAQ Section
    each slice in prismic.home.data.body
      if slice.slice_type === 'faq_card'
        section.faq__section.section--small--padding
          .faq
            .faq__container
              h2.faq__heading= slice.primary.heading[0].text
              dl.faq__accordian(data-animation="faq")
                each item in slice.items
                  .faq__item
                    button.faq__question(data-animation="faq")
                      dt.faq__question__text
                        span= item.question
                      svg.faq__icon(
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 22 23"
                        height="23"
                        width="22"
                      )
                        path(
                          fill="black"
                          d="M0.261719 12.4793V10.8271H10.1748V0.914062H11.8269V10.8271H21.74V12.4793H11.8269V22.3923H10.1748V12.4793H0.261719Z"
                        )
                    dd.faq__answer= item.answer
                    .faq__line
          +svg-decorative('wheat_plant')
          +svg-decorative('seed_plant')

    // Reviews Section (not a slice)
    section.section--xtiny--padding.reviews(data-animation='reviews_slider')
      .reviews__wrapper
        .reviews__track
          .reviews__quote__wrapper 
            span.reviews__quote &ldquo; 
          .reviews__slider
            if google_reviews.length
              each review in google_reviews
                .reviews__slide
                  .reviews__item
                    h3.reviews__text= review.text
                    h6.reviews__name - #{review.author_name}
            else
              .reviews__item.--active
                h3.reviews__text No reviews found yet.
                h6.reviews__name -

        .reviews__dots
          if google_reviews.length
            each review, index in google_reviews
              button.reviews__dot(class=(index === 0 ? '--active' : ''))

  include ./_includes/marquee
