extends ./_includes/layout

block variables
  - var template = 'menu'
  - const typeMap = {menu_appetizers: 'Appetizers',menu_soup: 'Soup',menu_oysters: 'Oysters',menu_salaads: 'Salaads',menu_meats: 'Meats',menu_chooza: 'Chooza',menu_seafood: 'Seafood',menu_vegetarian: 'Vegetarian',menu_platters: 'Platters',menu_desserts: 'Desserts',menu_drinks: 'Drinks',menu_shisha: 'Shisha'}

block content
  .menu
    .menu__wrapper

      // Category Buttons
      section.menu__category.container.section.section--medium--margin
        ul.menu__category__wrapper
          each slice, index in prismic.menu.data.body
            - const category = typeMap[slice.slice_type]
            if category
              li
                button(class=`h3 menu__category__label ${category === 'Appetizers' ? '--active' : ''}`, data-category=category)= category
              if index !== prismic.menu.data.body.length - 1
                li.menu__category__slash / 

      // Menu Sections
      each slice in prismic.menu.data.body
        - const category = typeMap[slice.slice_type]
        if category
          .menu__pin__container
            section(class=`menu__section menu__${category}  ${category === 'Appetizers' ? '--active' : ''}`, data-category=category)

              // Pinned image wrapper for the whole section
              if slice.items.length
                div.menu__image__wrapper
                  each item in slice.items
                    if item.image && item.image.url
                      - const menuImage = imgix.imgix(item.image, { auto: 'compress', crop: 'entropy' }, [400, 600])
                      img.menu__image(
                        data-src=menuImage.src
                        srcset=menuImage.srcset
                        sizes="(max-width: 600px) 90vw, (max-width: 1440px) 50vw, 600px"
                        alt=menuImage.alt
                        loading="lazy"
                      )

              // Text items
              each item in slice.items
                div.menu__item
                  div.menu__text__wrapper
                    p.h3.menu__name= item.name
                    div.menu__flex__wrapper
                      p.menu__description= item.description
                      p.menu__price= item.price
                    span.menu__line
  include ./_includes/chat                    