extends ./_includes/layout
block variables
  - var template = 'menu'

block content
  .menu
    .menu__wrapper
    
      each slice in prismic.menu.data.body
        if slice.slice_type === 'menu_items'
          section.menu__catergory.container.section.section--small--margin
            ul.menu__catergory__wrapper
              each item, index in slice.items 
                li
                  button.h3.menu__catergory__label=item.label
                    if index !== slice.items.length - 1
                      span.menu__catergory__slash /
      //- Appetizers
      each slice in prismic.menu.data.body
        if slice.slice_type === 'menu_appetizers'
          section.menu__appetizers.menu__section.section--small--margin
            div.menu__item
              each item in slice.items 
                if (item.image && item.image.url)
                  div.menu__image__wrapper
                    - const menuImage = imgix.imgix(item.image, { auto: 'compress', crop: 'entropy' }, [400, 600])
                    img.menu__image(
                      src=menuImage.src
                      srcset=menuImage.srcset
                      sizes="(max-width: 600px) 90vw, (max-width: 1440px) 50vw, 600px"
                      alt=menuImage.alt
                      loading="lazy"
                    )
    
              div.menu__text__wrapper
                each item in slice.items 
                  p.h3.menu__name=item.name
                  div.menu__flex__wrapper
                    p.menu__description=item.description
                    p.menu__price=item.price
                  span.menu__line
              
                

      //- //- Salaads
      //- each slice in prismic.menu.data.body
      //-   if slice.slice_type === 'menu_salaads'
      //-     section.menu__salaads.section.section--large--margin
      //-     each item in slice.items 
      //-       //- img(src='')=item.image
      //-       h5=item.name
      //-       p=item.description
      //-       p=item.price

      //- //- Meats
      //- each slice in prismic.menu.data.body
      //-   if slice.slice_type === 'menu_meats'
      //-     section.menu__meats.section.section--large--margin
      //-       each item in slice.items 
      //-         //- img(src='')=item.image
      //-         h5=item.name
      //-         p=item.description
      //-         p=item.price
      
      //- //- Chooza
      //- each slice in prismic.menu.data.body
      //-   if slice.slice_type === 'menu_chooza'
      //-     section.menu__chooza.section.section--large--margin
      //-       each item in slice.items 
      //-         //- img(src='')=item.image
      //-         h5=item.name
      //-         p=item.description
      //-         p=item.price

      //- //-Seafood
      //- each slice in prismic.menu.data.body
      //-   if slice.slice_type === 'menu_seafood'
      //-     section.menu__seafood.section.section--large--margin
      //-       each item in slice.items 
      //-         //- img(src='')=item.image
      //-         h5=item.name
      //-         p=item.description
      //-         p=item.price

      //- //-Vegetarian
      //- each slice in prismic.menu.data.body
      //-   if slice.slice_type === 'menu_vegetarian'
      //-     section.menu__vegeterian.section.section--large--margin
      //-       each item in slice.items 
      //-         //- img(src='')=item.image
      //-         h5=item.name
      //-         p=item.description
      //-         p=item.price
        
      //- //-Platters
      //- each slice in prismic.menu.data.body
      //-   if slice.slice_type === 'menu_platters'
      //-     section.menu__platters.section.section--large--margin
      //-       each item in slice.items 
      //-         //- img(src='')=item.image
      //-         h5=item.name
      //-         p=item.description
      //-         p=item.price
      
      //- //- Desserts
      //- each slice in prismic.menu.data.body
      //-   if slice.slice_type === 'menu_desserts'
      //-     section.menu__desserts.section.section--large--margin
      //-       each item in slice.items 
      //-         //- img(src='')=item.image
      //-         h5=item.name
      //-         p=item.description
      //-         p=item.price

      //- //- Drinks
      //- each slice in prismic.menu.data.body
      //-   if slice.slice_type === 'menu_drinks'
      //-     section.menu__drinks.section.section--large--margin
      //-       each item in slice.items 
      //-         //- img(src='')=item.image
      //-         h5=item.name
      //-         p=item.description
      //-         p=item.price
      
      
